@model IEnumerable<MyForum.Models.Topic>

@{
    ViewData["Title"] = "Список Тем";
}

<div class="container my-5">
    <h1>Темы</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Название темы</th>
                <th scope="col">Категория</th>
                <th scope="col">Создано</th>
                <th scope="col">Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var topic in Model)
            {
                <tr>
                    <td>@topic.Title</td>
                    <td>@topic.Category.Name</td>
                    <td>@topic.CreatedAt.ToString("dd.MM.yyyy HH:mm")</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@topic.Id" class="btn btn-primary">Подробнее</a>
                        <a asp-action="Edit" asp-route-id="@topic.Id" class="btn btn-warning">Редактировать</a>
                        <a asp-action="Delete" asp-route-id="@topic.Id" class="btn btn-danger">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="Create" class="btn btn-success">Добавить тему</a>
</div>